# STA 141B Homework 3

In [1]:
# Required Packages
import pandas as pd
import numpy as np

### Part 1: Read in the 'county_age_dist.csv' data and answer the next four questions.

__Exercise 3.1 (1 points).__ Cast the 'fips' column as a string such that it is a length 5 string of digits that starts with 0 if it is currently of length 4.  Yolo county for example is '06113'.  This is the age distribution of each county in the US (with territories), you may notice that the total population is unusually large, please ignore this.

In [2]:
# read Data Set
countyAge = pd.read_csv('county_age_dist.csv')
countyAge.head()

   fips   0-17  18-24  25-34  35-44  45-54  55-64  65-74  75-84   85+
0  1001  25941  11422  12315  13828  14000  12697   9594   5430  1945
1  1003  86587  37568  44133  46730  49675  52405  43252  23262  8854
2  1005  11057   6162   6603   5907   6490   6377   5255   2795  1074
3  1007   9671   5241   5788   5472   6707   5563   4270   2555   638
4  1009  25671  11360  12635  13570  14737  14123  12106   6560  2022

In [3]:
# Check types of the dataframe
countyAge.dtypes

fips     int64
0-17     int64
18-24    int64
25-34    int64
35-44    int64
45-54    int64
55-64    int64
65-74    int64
75-84    int64
85+      int64
dtype: object

In [4]:
# Some lists will be use in latter exercises
age = countyAge.columns.tolist()[1:]
age

['0-17', '18-24', '25-34', '35-44', '45-54', '55-64', '65-74', '75-84', '85+']

In [5]:
# Write a function to change the type and value of column fips
def fips(x):
    """Return a length 5 string of digits that starts with 0 if it is currently of length 4
    """
    x = str(x) #convert the int to str
    if len(x) == 4: #check if the length is 5
        x = '0' + x # Add '0' at the front
    return x

In [6]:
# Apply the function row by row of the column fips
countyAge['fips'] = countyAge['fips'].apply(fips)

In [7]:
# Check 1 - length is 5
all(countyAge['fips'].apply(len) == 5)

True

In [8]:
# Check 2 - all are string
all(countyAge['fips'].apply(type) == str)

True

__Exercise 3.2 (2 points).__ Create a population column which is the sum of the age counts for all age bins.  For each age bin create a column which is proportion of the age bin in the county populations, so for example '0-17_rat' is the ratio of '0-17' to the whole population for the county.  Print out the FIPS code for the county with the largest proportion of 25-34 year olds? What is the FIPS code for the county with the smallest proportion of 85+ year olds?

**Create a population column which is the sum of the age counts for all age bins.**

In [9]:
# Create a column that record the sum of population of each FIPS
countyAge['total'] = countyAge[age].sum(axis=1)
countyAge.head()

    fips   0-17  18-24  25-34  35-44  45-54  55-64  65-74  75-84   85+   total
0  01001  25941  11422  12315  13828  14000  12697   9594   5430  1945  107172
1  01003  86587  37568  44133  46730  49675  52405  43252  23262  8854  392466
2  01005  11057   6162   6603   5907   6490   6377   5255   2795  1074   51720
3  01007   9671   5241   5788   5472   6707   5563   4270   2555   638   45905
4  01009  25671  11360  12635  13570  14737  14123  12106   6560  2022  112784

In [10]:
# Create rat columns name
cols_rat = [(lambda x:x+'_rat')(x) for x in age]
cols_rat

['0-17_rat',
 '18-24_rat',
 '25-34_rat',
 '35-44_rat',
 '45-54_rat',
 '55-64_rat',
 '65-74_rat',
 '75-84_rat',
 '85+_rat']

In [11]:
# Combine existed columns + rat columns. The new column list will use as new columns of the dataframe
new_cols = countyAge.columns.tolist() + cols_rat
new_cols

['fips',
 '0-17',
 '18-24',
 '25-34',
 '35-44',
 '45-54',
 '55-64',
 '65-74',
 '75-84',
 '85+',
 'total',
 '0-17_rat',
 '18-24_rat',
 '25-34_rat',
 '35-44_rat',
 '45-54_rat',
 '55-64_rat',
 '65-74_rat',
 '75-84_rat',
 '85+_rat']

In [12]:
# Use .reindex to make new columns of the datafame, set fill value as 0
countyAge = countyAge.reindex(columns = new_cols, fill_value=0)
countyAge.head()

,fips,0-17,18-24,25-34,35-44,45-54,55-64,65-74,75-84,85+,total,0-17_rat,18-24_rat,25-34_rat,35-44_rat,45-54_rat,55-64_rat,65-74_rat,75-84_rat,85+_rat
0,01001,25941,11422,12315,13828,14000,12697,9594,5430,1945,107172,0,0,0,0,0,0,0,0,0
1,01003,86587,37568,44133,46730,49675,52405,43252,23262,8854,392466,0,0,0,0,0,0,0,0,0
2,01005,11057,6162,6603,5907,6490,6377,5255,2795,1074,51720,0,0,0,0,0,0,0,0,0
3,01007,9671,5241,5788,5472,6707,5563,4270,2555,638,45905,0,0,0,0,0,0,0,0,0
4,01009,25671,11360,12635,13570,14737,14123,12106,6560,2022,112784,0,0,0,0,0,0,0,0,0

In [13]:
# Use a for loop to calculate the proportion
for col_index in range(1,10):
    col_name = countyAge.columns[col_index]
    col_name_rat = countyAge.columns[col_index+10]
    countyAge[col_name_rat] = countyAge[col_name] / countyAge['total']

# Check if we successfully calculate the proportion
countyAge.head()

,fips,0-17,18-24,25-34,35-44,45-54,55-64,65-74,75-84,85+,total,0-17_rat,18-24_rat,25-34_rat,35-44_rat,45-54_rat,55-64_rat,65-74_rat,75-84_rat,85+_rat
0,01001,25941,11422,12315,13828,14000,12697,9594,5430,1945,107172,0.242050,0.106576,0.114909,0.129026,0.130631,0.118473,0.089520,0.050666,0.018148
1,01003,86587,37568,44133,46730,49675,52405,43252,23262,8854,392466,0.220623,0.095723,0.112451,0.119068,0.126571,0.133527,0.110206,0.059271,0.022560
2,01005,11057,6162,6603,5907,6490,6377,5255,2795,1074,51720,0.213786,0.119142,0.127668,0.114211,0.125483,0.123299,0.101605,0.054041,0.020766
3,01007,9671,5241,5788,5472,6707,5563,4270,2555,638,45905,0.210674,0.114171,0.126086,0.119203,0.146106,0.121185,0.093018,0.055658,0.013898
4,01009,25671,11360,12635,13570,14737,14123,12106,6560,2022,112784,0.227612,0.100724,0.112028,0.120318,0.130666,0.125222,0.107338,0.058164,0.017928

**Print out the FIPS code for the county with the largest proportion of 25-34 year olds?**

In [14]:
# We first generate a list that contains all FIPS codes
# Then use .idxmax() to find the index of the largest proportion of 25-34 year olds
# Use that index to find the FIPS codes
countyAge['fips'].tolist()[countyAge['25-34_rat'].idxmax()]

'51013'

The FIPS of the largest proportion of 25-34 year olds is 51013.

**What is the FIPS code for the county with the smallest proportion of 85+ year olds?**

In [15]:
# We first generate a list that contains all FIPS codes
# Then use .idxmin() to find the index of the mallest proportion of 85+ year olds
# Use that index to find the FIPS codes
countyAge['fips'].tolist()[countyAge['85+_rat'].idxmin()]

'02158'

The FIPS of the smallest proportion of 85+ year olds is 02158.

__Exercise 3.3 (1 points).__ What is the overall proportion of each age bin within the entire US.  You need to find the total number of each age bin across all counties and take the ratio with the total population.

In [16]:
# Sum of population of the enitre US
# countyAge[age] will return a slice of dataframe that contains each age bins' values
# Then use .sum() to find the sum of all values from that slice of dataframe
us_populaiton = countyAge[age].values.sum()
us_populaiton

632945380

In [17]:
# The overall proportion of each age bin within the entire US
# Total / entire us population
for age_bin in age:
    print(f'The overall proportion of {age_bin} age is: {round(countyAge[age_bin].sum()/us_populaiton,4) * 100}%')

The overall proportion of 0-17 age is: 22.49%
The overall proportion of 18-24 age is: 11.75%
The overall proportion of 25-34 age is: 12.82%
The overall proportion of 35-44 age is: 11.92%
The overall proportion of 45-54 age is: 12.4%
The overall proportion of 55-64 age is: 12.370000000000001%
The overall proportion of 65-74 age is: 8.94%
The overall proportion of 75-84 age is: 5.01%
The overall proportion of 85+ age is: 2.31%

__Exercise 3.4 (2 points).__ Create a new column that contains the mode of the age bins (the age bin with the largest proportion in the county. For example, the mode of FIPS 01001 is '0-17').  Print out the proportions of the modes over all counties in the US, so that the proportion of '0-17' is the percentage of the counties that have '0-17' as the largest age bin for that county.

**Create a new column that contains the mode of the age bins (the age bin with the largest proportion in the county**

In [18]:
# Use .idxmax(axis=1) to find the column name that has largest proportion
# Since will return as age_bin + '_rat', we use .str[:-4] to delete the '_rat' part
countyAge['mode'] = countyAge[cols_rat].idxmax(axis=1).str[:-4]

# Check if successfully insert 
countyAge.head()

,fips,0-17,18-24,25-34,35-44,45-54,55-64,65-74,75-84,85+,...,0-17_rat,18-24_rat,25-34_rat,35-44_rat,45-54_rat,55-64_rat,65-74_rat,75-84_rat,85+_rat,mode
0,01001,25941,11422,12315,13828,14000,12697,9594,5430,1945,...,0.242050,0.106576,0.114909,0.129026,0.130631,0.118473,0.089520,0.050666,0.018148,0-17
1,01003,86587,37568,44133,46730,49675,52405,43252,23262,8854,...,0.220623,0.095723,0.112451,0.119068,0.126571,0.133527,0.110206,0.059271,0.022560,0-17
2,01005,11057,6162,6603,5907,6490,6377,5255,2795,1074,...,0.213786,0.119142,0.127668,0.114211,0.125483,0.123299,0.101605,0.054041,0.020766,0-17
3,01007,9671,5241,5788,5472,6707,5563,4270,2555,638,...,0.210674,0.114171,0.126086,0.119203,0.146106,0.121185,0.093018,0.055658,0.013898,0-17
4,01009,25671,11360,12635,13570,14737,14123,12106,6560,2022,...,0.227612,0.100724,0.112028,0.120318,0.130666,0.125222,0.107338,0.058164,0.017928,0-17

**Print out the proportions of the modes over all counties in the US**

In [19]:
# Use value_counts() to check the proportion of modes 
mode_freq = countyAge['mode'].value_counts()
mode_freq

0-17     3057
18-24      70
55-64      58
25-34      15
65-74      15
45-54       3
35-44       2
Name: mode, dtype: int64

In [20]:
# print out the propotion of modes
# frequency of each modes / total of numbers of counties
for i in range(len(mode_freq)):
    print(f'The percentages of modes of {age[i]} ages: {round(mode_freq[i]/countyAge.shape[0],5)*100}%')

The percentages of modes of 0-17 ages: 94.938%
The percentages of modes of 18-24 ages: 2.174%
The percentages of modes of 25-34 ages: 1.8010000000000002%
The percentages of modes of 35-44 ages: 0.466%
The percentages of modes of 45-54 ages: 0.466%
The percentages of modes of 55-64 ages: 0.093%
The percentages of modes of 65-74 ages: 0.062%

### Part 2. Read in the 'county_fips_master.csv'' data and answer the next two questions

__Exercise 3.5 (2 points).__ Join this dataset to the county age dataframe constructed above such that there is one row for every county in the new dataframe from county_fips_master. Are there any missing entries? If so how many counties have missingness?

In [21]:
# read Data Set
countyFips = pd.read_csv('county_fips_master.csv',encoding="ISO-8859-1")
countyFips.head()

,fips,county_name,state_abbr,state_name,long_name,sumlev,region,division,state,county,crosswalk,region_name,division_name
0,1001,Autauga County,AL,Alabama,Autauga County AL,50.0,3.0,6.0,1.0,1.0,3-6-1-1,South,East South Central
1,1003,Baldwin County,AL,Alabama,Baldwin County AL,50.0,3.0,6.0,1.0,3.0,3-6-1-3,South,East South Central
2,1005,Barbour County,AL,Alabama,Barbour County AL,50.0,3.0,6.0,1.0,5.0,3-6-1-5,South,East South Central
3,1007,Bibb County,AL,Alabama,Bibb County AL,50.0,3.0,6.0,1.0,7.0,3-6-1-7,South,East South Central
4,1009,Blount County,AL,Alabama,Blount County AL,50.0,3.0,6.0,1.0,9.0,3-6-1-9,South,East South Central

In [22]:
# Check types of the dataframe
countyFips.dtypes

fips               int64
county_name       object
state_abbr        object
state_name        object
long_name         object
sumlev           float64
region           float64
division         float64
state            float64
county           float64
crosswalk         object
region_name       object
division_name     object
dtype: object

In [23]:
# Write a function to change the type and value of column fips (similar in 3.1)
countyFips.fips = countyFips.fips.apply(fips)
# Check - length is 5
all(countyFips['fips'].apply(len) == 5)

True

In [24]:
countyFips

,fips,county_name,state_abbr,state_name,long_name,sumlev,region,division,state,county,crosswalk,region_name,division_name
0,01001,Autauga County,AL,Alabama,Autauga County AL,50.0,3.0,6.0,1.0,1.0,3-6-1-1,South,East South Central
1,01003,Baldwin County,AL,Alabama,Baldwin County AL,50.0,3.0,6.0,1.0,3.0,3-6-1-3,South,East South Central
2,01005,Barbour County,AL,Alabama,Barbour County AL,50.0,3.0,6.0,1.0,5.0,3-6-1-5,South,East South Central
3,01007,Bibb County,AL,Alabama,Bibb County AL,50.0,3.0,6.0,1.0,7.0,3-6-1-7,South,East South Central
4,01009,Blount County,AL,Alabama,Blount County AL,50.0,3.0,6.0,1.0,9.0,3-6-1-9,South,East South Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3141,56037,Sweetwater County,WY,Wyoming,Sweetwater County WY,50.0,4.0,8.0,56.0,37.0,4-8-56-37,West,Mountain
3142,56039,Teton County,WY,Wyoming,Teton County WY,50.0,4.0,8.0,56.0,39.0,4-8-56-39,West,Mountain
3143,56041,Uinta County,WY,Wyoming,Uinta County WY,50.0,4.0,8.0,56.0,41.0,4-8-56-41,West,Mountain
3144,56043,Washakie County,WY,Wyoming,Washakie County WY,50.0,4.0,8.0,56.0,43.0,4-8-56-43,West,Mountain
3145,56045,Weston County,WY,Wyoming,Weston County WY,50.0,4.0,8.0,56.0,45.0,4-8-56-45,West,Mountain

In [25]:
# set fips as index of the first dataset
countyAge = countyAge.set_index('fips')
countyAge.head()

,0-17,18-24,25-34,35-44,45-54,55-64,65-74,75-84,85+,total,0-17_rat,18-24_rat,25-34_rat,35-44_rat,45-54_rat,55-64_rat,65-74_rat,75-84_rat,85+_rat,mode
fips,,,,,,,,,,,,,,,,,,,,
01001,25941,11422,12315,13828,14000,12697,9594,5430,1945,107172,0.242050,0.106576,0.114909,0.129026,0.130631,0.118473,0.089520,0.050666,0.018148,0-17
01003,86587,37568,44133,46730,49675,52405,43252,23262,8854,392466,0.220623,0.095723,0.112451,0.119068,0.126571,0.133527,0.110206,0.059271,0.022560,0-17
01005,11057,6162,6603,5907,6490,6377,5255,2795,1074,51720,0.213786,0.119142,0.127668,0.114211,0.125483,0.123299,0.101605,0.054041,0.020766,0-17
01007,9671,5241,5788,5472,6707,5563,4270,2555,638,45905,0.210674,0.114171,0.126086,0.119203,0.146106,0.121185,0.093018,0.055658,0.013898,0-17
01009,25671,11360,12635,13570,14737,14123,12106,6560,2022,112784,0.227612,0.100724,0.112028,0.120318,0.130666,0.125222,0.107338,0.058164,0.017928,0-17

In [26]:
# set fips as index of the second dataset
countyFips = countyFips.set_index('fips')
countyFips.head()

,county_name,state_abbr,state_name,long_name,sumlev,region,division,state,county,crosswalk,region_name,division_name
fips,,,,,,,,,,,,
01001,Autauga County,AL,Alabama,Autauga County AL,50.0,3.0,6.0,1.0,1.0,3-6-1-1,South,East South Central
01003,Baldwin County,AL,Alabama,Baldwin County AL,50.0,3.0,6.0,1.0,3.0,3-6-1-3,South,East South Central
01005,Barbour County,AL,Alabama,Barbour County AL,50.0,3.0,6.0,1.0,5.0,3-6-1-5,South,East South Central
01007,Bibb County,AL,Alabama,Bibb County AL,50.0,3.0,6.0,1.0,7.0,3-6-1-7,South,East South Central
01009,Blount County,AL,Alabama,Blount County AL,50.0,3.0,6.0,1.0,9.0,3-6-1-9,South,East South Central

In [27]:
# Use .join to combine two dataframes to a new dataframe county_fips_master
county_fips_master = countyFips.join(countyAge, how ='outer')
# Check
county_fips_master

,county_name,state_abbr,state_name,long_name,sumlev,region,division,state,county,crosswalk,...,0-17_rat,18-24_rat,25-34_rat,35-44_rat,45-54_rat,55-64_rat,65-74_rat,75-84_rat,85+_rat,mode
fips,,,,,,,,,,,,,,,,,,,,,
01001,Autauga County,AL,Alabama,Autauga County AL,50.0,3.0,6.0,1.0,1.0,3-6-1-1,...,0.242050,0.106576,0.114909,0.129026,0.130631,0.118473,0.089520,0.050666,0.018148,0-17
01003,Baldwin County,AL,Alabama,Baldwin County AL,50.0,3.0,6.0,1.0,3.0,3-6-1-3,...,0.220623,0.095723,0.112451,0.119068,0.126571,0.133527,0.110206,0.059271,0.022560,0-17
01005,Barbour County,AL,Alabama,Barbour County AL,50.0,3.0,6.0,1.0,5.0,3-6-1-5,...,0.213786,0.119142,0.127668,0.114211,0.125483,0.123299,0.101605,0.054041,0.020766,0-17
01007,Bibb County,AL,Alabama,Bibb County AL,50.0,3.0,6.0,1.0,7.0,3-6-1-7,...,0.210674,0.114171,0.126086,0.119203,0.146106,0.121185,0.093018,0.055658,0.013898,0-17
01009,Blount County,AL,Alabama,Blount County AL,50.0,3.0,6.0,1.0,9.0,3-6-1-9,...,0.227612,0.100724,0.112028,0.120318,0.130666,0.125222,0.107338,0.058164,0.017928,0-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.222862,0.119243,0.122765,0.116876,0.123953,0.119202,0.098397,0.050642,0.026059,0-17
72147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.217616,0.125622,0.096370,0.108531,0.114981,0.136908,0.108900,0.069007,0.022066,0-17
72149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.234818,0.133015,0.114193,0.110015,0.119715,0.128816,0.095785,0.045876,0.017767,0-17
72151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.211635,0.118870,0.111495,0.121162,0.125759,0.129144,0.104395,0.049840,0.027699,0-17
72153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.213282,0.110158,0.115657,0.116087,0.123096,0.131001,0.105211,0.056711,0.028798,0-17

**Are there any missing entries? If so how many counties have missingness?**

In [28]:
# If there is null values in the mode column,
# it means that there is a FIPS code that doesn't exist in the second dataframe
county_fips_master['mode'].isna().sum()

3

In [29]:
# If there is null values in the county_name column,
# it means that there is a FIPS code that doesn't exist in the first dataframe
county_fips_master['county_name'].isna().sum()

78

Yes, there are missing entries and 81 counties have missingness.

__Exercise 3.6 (2 points)__ Drop any rows with missingness.  For each state calculate the proportion of each age bin as you did for the entire US in the question above.  What is the state with the most 18-24 proportion?  Give the proportions.

In [30]:
# Drop if mode has null values
county_fips_master = county_fips_master[county_fips_master['mode'].notna()]

In [31]:
# Drop if county_name has null values
county_fips_master = county_fips_master[county_fips_master['county_name'].notna()]

In [32]:
# Check numbers of row
county_fips_master.shape

(3143, 32)

**For each state calculate the proportion of each age bin as you did for the entire US in the question above.**

In [33]:
# Use groupby to find each state's population of each age bins
stateDF = county_fips_master[['state_name'] + age]
stateDF = stateDF.groupby('state_name').sum()
stateDF['total'] = stateDF[age].values.sum(axis=1)
stateDF = stateDF[age].div(stateDF["total"].values, axis=0)
stateDF

,0-17,18-24,25-34,35-44,45-54,55-64,65-74,75-84,85+
state_name,,,,,,,,,
Alabama,0.224207,0.117424,0.123812,0.118070,0.123128,0.126211,0.093976,0.052009,0.021162
Alaska,0.239982,0.122956,0.145621,0.118345,0.125462,0.127117,0.074453,0.032452,0.013611
Arizona,0.231951,0.119133,0.126129,0.116421,0.116427,0.118360,0.095684,0.053510,0.022385
Arkansas,0.232202,0.115841,0.122890,0.117132,0.119194,0.122823,0.095058,0.052607,0.022254
California,0.228604,0.119968,0.137227,0.123743,0.123568,0.117110,0.081903,0.046009,0.021868
Colorado,0.225300,0.118003,0.138210,0.124973,0.122690,0.123668,0.084251,0.043600,0.019306
Connecticut,0.212882,0.116679,0.117631,0.115592,0.135142,0.131176,0.091405,0.052128,0.027365
Delaware,0.217387,0.113370,0.125677,0.113191,0.126628,0.129305,0.098429,0.053121,0.022894
District of Columbia,0.180467,0.134981,0.193370,0.130613,0.111748,0.110092,0.075355,0.042644,0.020729
Florida,0.203338,0.109815,0.122184,0.115377,0.125243,0.127054,0.105448,0.063038,0.028504
Georgia,0.238749,0.119290,0.128750,0.126364,0.126255,0.117180,0.083070,0.042925,0.017417
Hawaii,0.214333,0.111126,0.134777,0.117548,0.119138,0.127217,0.094941,0.051653,0.029267
Idaho,0.249923,0.114807,0.123502,0.116075,0.113930,0.121423,0.091331,0.048428,0.020581
Illinois,0.226250,0.116642,0.129534,0.120892,0.124610,0.123673,0.085803,0.049157,0.023440
Indiana,0.232802,0.119538,0.121464,0.117135,0.122976,0.124935,0.088409,0.049769,0.022971
Iowa,0.228441,0.120496,0.120029,0.112350,0.120072,0.127106,0.089461,0.054507,0.027538
Kansas,0.239622,0.123204,0.124948,0.112925,0.116924,0.122309,0.085294,0.050115,0.024659
Kentucky,0.224512,0.116451,0.121697,0.119133,0.125327,0.127416,0.093082,0.050616,0.021766
Louisiana,0.232604,0.121250,0.132908,0.115388,0.119552,0.122942,0.086937,0.047815,0.020604
Maine,0.197206,0.106883,0.112564,0.111642,0.134711,0.145428,0.106297,0.058371,0.026898
Maryland,0.221525,0.113998,0.129701,0.120644,0.131808,0.125933,0.086922,0.047396,0.022072
Massachusetts,0.204731,0.121359,0.129146,0.116766,0.130418,0.128001,0.090893,0.052022,0.026662
Michigan,0.221293,0.120414,0.117214,0.113339,0.126530,0.131572,0.093036,0.052149,0.024454
Minnesota,0.228832,0.113165,0.129966,0.116529,0.125858,0.126612,0.085524,0.049066,0.024449
Mississippi,0.236008,0.121317,0.123307,0.117115,0.118710,0.122612,0.089874,0.050013,0.021044
Missouri,0.225158,0.117139,0.124356,0.114192,0.123119,0.127224,0.092079,0.052767,0.023966
Montana,0.214199,0.118338,0.120373,0.108951,0.118339,0.140214,0.100494,0.054477,0.024616
Nebraska,0.238915,0.121224,0.126311,0.114316,0.116444,0.122196,0.084981,0.050623,0.024991
Nevada,0.227299,0.109904,0.134006,0.124629,0.124292,0.121483,0.092692,0.047275,0.018420
New Hampshire,0.201933,0.114913,0.113504,0.113893,0.140328,0.141331,0.097044,0.052388,0.024668
New Jersey,0.219827,0.110255,0.122278,0.121951,0.133230,0.126499,0.089242,0.051161,0.025557
New Mexico,0.232156,0.119232,0.125371,0.111935,0.116919,0.126501,0.094153,0.051855,0.021880
New York,0.211207,0.117633,0.134227,0.119118,0.127467,0.124853,0.089003,0.051224,0.025268
North Carolina,0.224857,0.116542,0.123703,0.122500,0.125779,0.123809,0.092168,0.049790,0.020853
North Dakota,0.221050,0.140018,0.136065,0.108601,0.114780,0.122020,0.080531,0.050610,0.026325
Ohio,0.223494,0.114781,0.120408,0.114241,0.124683,0.130849,0.092829,0.053279,0.025436
Oklahoma,0.235982,0.118651,0.129076,0.115304,0.116948,0.121602,0.089562,0.051343,0.021531
Oregon,0.212816,0.113054,0.128755,0.120788,0.119017,0.131359,0.098324,0.050979,0.024909
Pennsylvania,0.210988,0.114135,0.122640,0.112539,0.127445,0.132610,0.095060,0.056507,0.028077
Rhode Island,0.202001,0.126987,0.124965,0.113423,0.128491,0.130042,0.091405,0.052858,0.029828
South Carolina,0.221550,0.117903,0.123406,0.116650,0.122769,0.127735,0.098763,0.050192,0.021031
South Dakota,0.234764,0.118456,0.123941,0.109571,0.115915,0.129050,0.088220,0.053377,0.026705
Tennessee,0.224193,0.115441,0.124577,0.120309,0.124410,0.125577,0.093811,0.050806,0.020877
Texas,0.251499,0.121165,0.134842,0.124867,0.118470,0.111446,0.077229,0.042327,0.018155
Utah,0.282481,0.132711,0.139205,0.122167,0.100823,0.098602,0.068970,0.038707,0.016336
Vermont,0.195929,0.123784,0.112353,0.109702,0.131876,0.143852,0.102641,0.054230,0.025633
Virginia,0.219537,0.118038,0.130383,0.122524,0.128156,0.123882,0.088739,0.047536,0.021206
Washington,0.220833,0.114876,0.134100,0.121345,0.122879,0.126523,0.090323,0.047039,0.022082
West Virginia,0.204952,0.113159,0.113671,0.115700,0.122976,0.139156,0.106081,0.058898,0.025407
Wisconsin,0.223345,0.116545,0.121533,0.114679,0.127692,0.129952,0.089225,0.051693,0.025337
Wyoming,0.229481,0.117281,0.131023,0.115052,0.116549,0.134005,0.088428,0.047175,0.021007

**What is the state with the most 18-24 proportion? Give the proportions.**

In [34]:
# Find the state name which has the most 18-24 proportion
stateDF['18-24'].idxmax()

'North Dakota'

In [35]:
# Calculate the 18-24 proportion
round(stateDF['18-24'].max()*100,4)

14.0018

North Dakota is the state with the most 18-24 proportion which is 14.0018%.